{% extends 'base.html' %}

{% include 'navvbar.html' %}

{% load crispy_forms_tags %}

{% load mapbox_location_field_tags %}
{% location_field_includes %}
{% include_jquery %}



{% block frm_content %}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% load mapbox_location_field_tags %}
{% location_field_includes %}
{% include_jquery %}

<h1>
    <center style="color:blue">GRUPO PUMAL SPA</center>
</h1>
<form method='POST' id="RowProduitsForm" data-wilaya-url="{% url 'load-wilaya'%}" data-localité-url="{% url 'load-localite'%}"> {% csrf_token %}

    {{ mon_form | crispy}}
    <button type="submit" class="btn btn-success">Save </button>

</form>

{{ mon_form.media }}


  <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2FqaWIxMDY2IiwiYSI6ImNrYnJqb2x6NDAyN2cyc3BuenoxemNjdmEifQ.uWDYuTOqXB9KMPBmeDxORw';
        var map = new mapboxgl.Map({
        container: 'location-field-map',
        style: 'mapbox://styles/mapbox/streets-v11'
        });
    </script>

{% load static %}

<script  src="{% static 'pro/js/wilaya.js' %}"></script>
<script  src="{% static 'pro/js/localite.js' %}"></script>

{% endblock %}



